
<form action="" (submit)="onAddPost(PostForm)" #PostForm="ngForm">

    <mat-form-field class = "centered-input">
        <input matInput  
        rows="1" 
        name="title"
        ngModel
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid"> Title can not be empty</mat-error>

    </mat-form-field>


    <mat-card>
        <mat-form-field>
         <textarea 
         matInput 
         rows="10" 
         name="content"
         nagModel
         required
        >
        </textarea>
       </mat-form-field>

        <button 
        color="primary"
        mat-raised-button 
        type = "submit" > Save post
        </button>
    </mat-card>

</form>




